
/*-------------Fact---------------*/

.parent {
  
  
  margin-top: 10px;
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
/*
.subchild{
  border: 3px solid #fff;
  padding: 20px;
}


.sec1{
  width: 50%;
  float: left;
  padding: 20px;
}
*/

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.cat-fact {
  min-height: 100vh;
  background-color: rgba(2, 39, 63, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  
  margin-right: 30px;
}
.interseting {
  
  color: #02273f;
  text-shadow: #cce4f4 0px 0px 10px, #cce4f4 0 0 60px;
  font-family: 'Courier New', Courier, monospace;
  font-size:50px;
  font-style: normal;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;

}

.card {
  background: url("../images/whisper-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  font-family: "Gloria Hallelujah", cursive;
  
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before,
.card:hover:after {
  animation: none;
  opacity: 0;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}

.user {
  margin-top: 20px;
  color: white;
  font-size: 30px;
  font-family: "Titan One", cursive;
}

/* ------------Breed----------------- */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
/* ------------ */
body {
  font-family: monospace;
  height: 100%;
  background-image: url("../images/back4.jpg");
  background-size: 100vw 100vh;
}
h1 {
  margin-bottom: 40px;
  color: #02273f;
  font-family: 'Courier New', Courier, monospace;
  
  font-size:50px;
  font-style: normal;
  text-align: center;
  text-shadow: #cce4f4 0px 0px 10px, #cce4f4 0 0 60px;
}
/* ------------ */
.breed {
  height: 100%;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(2, 39, 63, 0.5);
  text-shadow: #000000 0px 1px 0px;
  font-family: Palatino, Georgia, serif;
  font-weight: normal;
  font-size: 18px;
  color: #2e6892;
}
/* ------------ */
.form {
  
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 80px;
  grid-column-gap: 10px;
}
/*
.formfont{
  font-family: Palatino, Georgia, serif;
  color: #5ddcff;
}
*/
.form-submit {
  outline: none;
  border: 1px solid rgb(232, 232, 232);
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: monospace;
  font-size: 14px;
  line-height: 36px;
}
.form-submit:focus {
  box-shadow: 0 0 0 0.5px rgb(153, 153, 153);
}
.cards {
  display: flex;
  margin: 20px 0;
  width: 100%;
}
.card-item {
  width: 100%;
  padding: 5px 20px 20px;
  border: 1px solid rgb(232, 232, 232);
  background-color: white;
  border-radius: 5px;
  font-style: italic;
}
.card-info {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.card-activity {
  line-height: 1.2;
  margin-top: 10px;
}
.tag-error {
  width: 100%;
  text-align: center;
}
/* ------------ */
.is-element-hidden {
  display: none;
}
/* ------------ */
@media (max-width: 620px) {
  .breed {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
  }
  .form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
